$icomoon-font-family: "wooassistant-icon" !default;
$icomoon-font-path: "../fonts" !default;

$wa-icon-menu: "\e90c";
$wa-icon-magic-wand: "\e94a";
$wa-icon-magic-wand3: "\e943";
$wa-icon-magic-wand1: "\e944";
$wa-icon-magic-lamp: "\e945";
$wa-icon-magic-lamp1: "\e946";
$wa-icon-magic-wand2: "\e947";
$wa-icon-wish: "\e948";
$wa-icon-crossed-fingers: "\e949";
$wa-icon-bluesky: "\e90f";
$wa-icon-viber: "\e903";
$wa-icon-whatsapp: "\e905";
$wa-icon-telegram: "\e904";
$wa-icon-mastodon: "\e90e";
$wa-icon-yahoo: "\e90b";
$wa-icon-x-twitter: "\e900";
$wa-icon-shopping-basket3: "\e938";
$wa-icon-heart3: "\e92f";
$wa-icon-heart1: "\e92d";
$wa-icon-move-vertical: "\e94c";
$wa-icon-heart-stroke: "\e930";
$wa-icon-shopping-basket2: "\e920";
$wa-icon-shopping-cart5: "\e921";
$wa-icon-shopping-cart6: "\e93a";
$wa-icon-checkmark: "\ea10";
$wa-icon-checkmark2: "\ea11";
$wa-icon-arrow-down: "\ea3e";
$wa-icon-circle-down: "\ea43";
$wa-icon-weibo: "\ea9a";
$wa-icon-tick-outline: "\e937";
$wa-icon-shopping-cart: "\e91c";
$wa-icon-star_rate: "\e939";
$wa-icon-bookmark_outline: "\e93c";
$wa-icon-star_outline: "\e93d";
$wa-icon-star_half: "\e93e";
$wa-icon-library_add: "\e93f";
$wa-icon-bookmarks: "\e940";
$wa-icon-bookmark: "\e941";
$wa-icon-heart: "\e942";
$wa-icon-library_add_check: "\e933";
$wa-icon-check_circle_outline: "\e934";
$wa-icon-check_circle: "\e935";
$wa-icon-check_box: "\e936";
$wa-icon-file_copy: "\e912";
$wa-icon-content_copy: "\e913";
$wa-icon-edit: "\e94b";
$wa-icon-trash: "\e93b";
$wa-icon-check: "\e931";
$wa-icon-heart2: "\e92e";
$wa-icon-shopping-bag: "\e91d";
$wa-icon-shopping-cart3: "\e91e";
$wa-icon-plus: "\e91b";
$wa-icon-chevrons-up: "\e911";
$wa-icon-chevrons-right: "\e914";
$wa-icon-chevrons-left: "\e915";
$wa-icon-chevrons-down: "\e916";
$wa-icon-chevron-right: "\e917";
$wa-icon-chevron-left: "\e918";
$wa-icon-chevron-down: "\e919";
$wa-icon-chevron-up: "\e91a";
$wa-icon-plus-circle: "\e92c";
$wa-icon-cross: "\e92a";
$wa-icon-shopping-cart7: "\e91f";
$wa-icon-close: "\e927";
$wa-icon-shopping-cart1: "\e922";
$wa-icon-location-shopping: "\e923";
$wa-icon-circle-with-cross: "\e92b";
$wa-icon-shopping-basket: "\e924";
$wa-icon-shopping-bag1: "\e925";
$wa-icon-shopping-cart4: "\e926";
$wa-icon-evernote: "\e90d";
$wa-icon-xing: "\e90a";
$wa-icon-vk: "\e902";
$wa-icon-tumblr: "\e907";
$wa-icon-check1: "\e932";
$wa-icon-shopping-basket1: "\e929";
$wa-icon-shopping-cart2: "\e928";
$wa-icon-email: "\e910";
$wa-icon-reddit: "\e909";
$wa-icon-linkedin: "\e901";
$wa-icon-facebook: "\e908";
$wa-icon-pinterest: "\e906";