$icomoon-font-family: "wooassistant-icon" !default;
$icomoon-font-path: "../fonts" !default;

$wa-icon-file_copy: "\e912";
$wa-icon-content_copy: "\e913";
$wa-icon-plus: "\e91b";
$wa-icon-chevrons-up: "\e911";
$wa-icon-chevrons-right: "\e914";
$wa-icon-chevrons-left: "\e915";
$wa-icon-chevrons-down: "\e916";
$wa-icon-chevron-right: "\e917";
$wa-icon-chevron-left: "\e918";
$wa-icon-chevron-down: "\e919";
$wa-icon-chevron-up: "\e91a";
$wa-icon-bluesky: "\e90f";
$wa-icon-viber: "\e903";
$wa-icon-whatsapp: "\e905";
$wa-icon-telegram: "\e904";
$wa-icon-mastodon: "\e90e";
$wa-icon-yahoo: "\e90b";
$wa-icon-x-twitter: "\e900";
$wa-icon-evernote: "\e90d";
$wa-icon-xing: "\e90a";
$wa-icon-vk: "\e902";
$wa-icon-tumblr: "\e907";
$wa-icon-email: "\e910";
$wa-icon-pocket: "\e90c";
$wa-icon-reddit: "\e909";
$wa-icon-linkedin: "\e901";
$wa-icon-facebook: "\e908";
$wa-icon-pinterest: "\e906";
$wa-icon-arrow-down: "\ea3e";
$wa-icon-circle-down: "\ea43";
$wa-icon-weibo: "\ea9a";
