@use "utilities/variables";

#jetexir-fly-cart-modal {
  .jetexir-fly-cart-items {
    .jetexir-fly-cart-item {
      .jetexir-fly-cart-item-image {

      }

      .jetexir-fly-cart-item-info {

      }

      .jetexir-fly-cart-item-actions {

      }

      .jetexir-fly-cart-item-price {

      }

      .jetexir-fly-cart-item-quantity {
        display: flex;
        border-radius: 3px;
        overflow: hidden;
        background-color: #ededed;

        .quantity {
          width: auto !important;
          min-width: 0 !important;
          margin: 0 !important;
        }

        input, button {
          border: none;
          outline: none;
          background-color: transparent;
          box-shadow: none;
          padding: 5px;
          font-size: 0.9em;
          height: 100%;

          &:hover, &:focus {
            border: none;
            outline: none;
            background-color: transparent;
          }
        }

        input {
          width: 60px;
        }

        button {
          padding: 5px 10px;

          &:hover, &:focus {
            background-color: #e3e3e3;
          }
        }

        .jetexir-fly-cart-item-quantity-value {
          padding: 5px 10px;
          display: inline-block;
        }

        &.jetexir-fly-cart-item-quantity-buttons {
          input {
            width: 40px;
          }
        }
      }

      .jetexir-fly-cart-item-remove {

      }
    }
  }

  .jetexir-fly-cart-meta {
    justify-content: space-between;
    font-size: 0.9em;

    > span:nth-child(even) {
      font-weight: 600;
    }
  }

  .jetexir-modal-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    > * {
      flex-basis: 50%;
      flex-grow: 0;
    }
  }
}
