@use "utilities/variables";

.asfowoo-product-compare-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: var(--asfowoo-secondary-button-border-width, 0) solid transparent;
  border-radius: var(--asfowoo-secondary-button-border-radius, 0);
  color: var(--asfowoo-secondary-button-color, initial);
  background-color: var(--asfowoo-secondary-button-bg-color, initial);
  border-color: var(--asfowoo-secondary-button-border-color, initial);

  &:hover {
    color: var(--asfowoo-secondary-button-hover-color, initial);
    background-color: var(--asfowoo-secondary-button-hover-bg-color, initial);
    border-color: var(--asfowoo-secondary-button-hover-border-color, initial);
  }
}

.asfowoo-product-compare-wrapper {
  margin: 30px 15px;
  color: #333;

  img {
    border-radius: 2px;
  }

  &.asfowoo-product-compare-cols-2 {
    .asfowoo-product-compare-row {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &.asfowoo-product-compare-cols-3 {
    .asfowoo-product-compare-row {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &.asfowoo-product-compare-cols-4 {
    .asfowoo-product-compare-row {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .asfowoo-product-compare-row {
    display: grid;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0 20px 0;

    &.asfowoo-product-compare-head {
      .asfowoo-product-compare-col {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
      }

      .asfowoo-button-product-compare {
        position: absolute;
        left: 5px;
        top: 5px;
        padding: 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 1;
      }
    }

    &.asfowoo-product-compare-row-field {
      a {
        display: inline-block;
      }
    }

    img.asfowoo-product-compare-brand {
      width: 70px;
      height: auto;
    }
  }

  .in-stock {
    color: #2c972c;
  }

  .out-of-stock {
    color: #df3152;
  }

  .asfowoo-product-compare-field-title {
    color: rgb(129, 133, 139);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.15;
    padding-top: 20px;
  }

  .asfowoo-product-compare-add-to-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .asfowoo-product-compare-image {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
  }
}