@use "utilities/variables";

.wa-sale-progress-bar {
  margin-top: 10px;
  margin-bottom: 10px;

  .wa-spb-stock-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
    line-height: 1;

    :is(.wa-spb-total-sold, .wa-spb-current-stock) {
      display: inline-flex;
      gap: 5px;
    }

    span {
      font-weight: 600;
    }

    .wa-spb-total-sold {

    }

    .wa-spb-current-stock {

    }
  }

  :is(.wa-spb-progress-area, .wa-spb-progress-bar) {
    height: var(--wa-progress-bar-height, 7px);
    border-radius: var(--wa-element-border-radius, 0);
  }

  .wa-spb-progress-area {
    width: 100%;
    background-color: variables.$gray_light_three;
    transition: background-color .25s ease;

    .wa-spb-progress-bar {
      background-color: var(--wa-progress-bar-bg-color, variables.$gray_light);
    }
  }

  @media (max-width: 576px) {
    .wa-spb-stock-info .wa-spb-total-sold {
      display: none
    }
  }
}