@use "utilities/variables";

.asfowoo-product-share-wrapper {
  display: flex;
  gap: 10px;
  margin: 20px 0;

  .asfowoo-product-share-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block-end: 10px;
    min-width: 50px;
  }

  .asfowoo-product-share-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;

    .asfowoo-product-share-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: var(--asfowoo-element-color, variables.$text);
      border: 1px solid var(--asfowoo-element-border-color, variables.$border_color);
      background-color: var(--asfowoo-element-bg-color, variables.$white2);
      padding: 10px;
      width: 32px;
      height: 32px;
      text-decoration: none !important;
      font-size: 14px;
      transition: all 0.3s ease;

      .asfowoo-icon-content_copy {
        animation: afwBlinkText 250ms step-start 0s infinite;
      }

      &.asfowoo-product-share-link-size-large {
        font-size: 18px;
        width: 45px;
        height: 45px;
      }

      &:hover, &:focus {
        color: var(--asfowoo-element-hover-color, variables.$text);
        border: 1px solid var(--asfowoo-element-hover-border-color, variables.$border_color);
        background-color: var(--asfowoo-element-hover-bg-color, variables.$white2);
        outline: 1px solid var(--asfowoo-element-hover-border-color, variables.$border_color);
      }

      &.asfowoo-product-share-link-shape-round {
        border-radius: 50%;
      }

      &.asfowoo-product-share-link-shape-rounded_corner {
        border-radius: 10px;
      }

      &.asfowoo-product-share-link-appearance-text, &.asfowoo-product-share-link-appearance-icon_text, {
        width: auto;
        border-radius: 10px;
      }

      &.asfowoo-product-share-link-shape-square {
        border-radius: 0;
      }
    }
  }
}

@keyframes afwBlinkText {
  50% {
    opacity: 0.0;
  }
}