@use 'sass:color';
@use "utilities/variables";
@use "icon/style";
@use "components/notice";
@use "components/faqs";
@use "components/fly_icons";
@use "components/modal";
@use "site/button";
@use "components/loading";
@use "components/global";

.jetexir-appearance-text-field {
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.jetexir-button {
  &.jetexir-button-remove {
    color: variables.$red !important;

    &:hover {
      color: color.scale(variables.$red, $lightness: -10%) !important;
    }
  }
}

.jetexir-remove-action {
  color: variables.$red !important;

  &:hover {
    color: color.scale(variables.$red, $lightness: -10%) !important;
  }
}

.jetexir-inline-flex {
  display: inline-flex !important;
  align-items: center;
  gap: 5px;
}

.jetexir-flex {
  display: flex !important;
  align-items: center;
  gap: 5px;
}

.jetexir-product-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;

  .jetexir-product-item-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: var(--jetexir-element-border-radius, 0);
    transition: all 0.2s;

    &:hover {
      background-color: var(--jetexir-element-hover-bg-color, variables.$gray_light_three);
    }

    .jetexir-product-item-image {
      width: 60px;
      flex: 0 0 60px;
    }

    .jetexir-product-item-info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: start;
      gap: 7px;

      .jetexir-product-item-title {

      }

      .jetexir-product-item-meta {
        font-size: 0.8em;
      }
    }

    .jetexir-product-item-actions {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 7px;
      font-size: 0.8em;

      .jetexir-product-item-remove {
        color: variables.$red;
        gap: 3px;
        text-decoration: none;
      }
    }
  }
}
