@use "utilities/variables";
@use "icon/style";
@use "components/notice";
@use "components/faqs";
@use "components/fly_icons";
@use "components/modal";

.wa-appearance-text-field {
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.wa-button {
  &.wa-button-remove {
    color: #bb2323;

    &:hover {
      color: #bb2323;
    }
  }
}

.wa-fade {
  transition: opacity .15s linear;
  opacity: 1;

  &:not(.active) {
    opacity: 0;
  }
}

