@use "components/notice";
@use "icon/style";
@use "utilities/variables";

.wa-appearance-text-field {
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

.wa-button {
  &.wa-button-remove {
    color: #bb2323;

    &:hover {
      color: #bb2323;
    }
  }
}

.wa-faqs-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;

  .wa-faq-item {
    border: 1px solid var(--wa-element-border-color, variables.$border_color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

    .wa-faq-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      color: var(--wa-element-text-color, variables.$text);
      background-color: var(--wa-element-bg-color, variables.$white2);
      transition: background-color 0.3s ease;
      cursor: pointer;
      outline: none;
      border: none;
      font-weight: 500;

      i {
        transition: all 0.2s;
        font-size: 24px;
      }
    }

    .wa-faq-answer {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
      padding: 0 15px;
      font-size: .9em;
    }

    .wa-faq-question.active {
      & i:is(.wa-icon-chevrons-down, .wa-icon-chevron-down ,.wa-icon-arrow-down, .wa-icon-circle-down) {
        transform: rotate(180deg);
      }

      & i.wa-icon-plus {
        transform: rotate(45deg);
      }

      & + .wa-faq-answer {
        padding: 15px;
      }
    }
  }
}