@use "../utilities/variables";

@mixin wa-addons {
  .wa-addons-wrap {
    .wa-heading-2 {
      margin-bottom: 30px;
    }

    + hr {
      margin: 30px 0 !important;
    }

    .wa-addons-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      gap: 20px;
    }

    .wa-addon-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid variables.$border_color;
      border-radius: 10px;
      overflow: hidden;

      &.wa-addon-inactive {
        .wa-image-wrap {
          img, svg {
            opacity: 0.5;
            filter: grayscale(80%);
          }
        }
      }

      .wa-image-wrap {
        background-color: variables.$background_side;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .wa-tag {
          position: absolute;
          right: 5px;
          top: 5px;
          padding: 3px 5px;
          background-color: variables.$border_color;
          color: variables.$gray;
          border-radius: 5px;
          font-size: 12px;
          line-height: 1;
          cursor: default;
        }

        .wa-image-link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .wa-image {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        svg {
          height: 50px;
          width: auto;
        }
      }

      .wa-title-desc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 15px;
        height: 170px;

        .wa-title {
          margin: 0;
        }

        .wa-desc {
          color: variables.$meta;
        }

        .wa-more-info-link {
          display: inline-flex;
          align-items: center;
          margin-top: auto;

          svg {
            stroke: variables.$primary;
          }
        }
      }

      .wa-action-wrap {
        align-self: flex-end;
        width: 100%;
        padding: 20px 15px;
        background-color: variables.$background_side;
        margin-top: auto;

        .wa-field-head {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: space-between;
        }

        .wa-action-link {
          display: block;
          text-align: center;
          background-color: white;
          border-radius: 10px;
          padding: 10px;
          color: variables.$text;
        }
      }
    }
  }
}