@use "../utilities/variables";

@mixin wa-data-table-ui {
  .wa-data-table-ui {
    background-color: variables.$background_light;
    border: 1px solid variables.$border_color;
    padding: 15px;
    border-radius: 10px;
    position: relative;

    .wa-dtu-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .wa-dtu-title-wrap {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      .wa-dtu-title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 1;
      }

      .wa-dtu-description {
        font-size: 0.9em;
        color: variables.$meta;
      }

      .wa-dtu-row-count {

      }

      .wa-dtu-add-new {
        padding: 8px 14px;
      }
    }

    .wa-dtu-body {
      position: relative;

      select {
        max-width: 200px;
        padding: 4px 14px;
      }
    }

    .wa-dtu-bulk-actions {
      display: flex;
      align-items: center;
      gap: 3px;

      &.wa-dtu-bulk-actions-top {
        margin-bottom: 10px;
      }

      &.wa-dtu-bulk-actions-bottom {
        margin-top: 10px;
      }
    }

    table.wa-dtu-table {
      border-collapse: collapse;
      width: 100%;
      background-color: white;

      .check-column {
        label:hover {
          background: none;
        }
      }

      tr {
        td, th {
          padding: 8px;
          text-align: start;
        }
      }

      thead {
        tr {
          th {
            background-color: variables.$background_side;

            &.wa-dtu-select-all-wrap {
              width: 40px;
              text-align: center;
            }

            &[data-column="is_active"] {
              width: 100px;
              text-align: center;
            }
          }
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: variables.$background_light;
          }

          &[data-disabled="true"] {
            background-color: variables.$background_disabled;
            color: variables.$meta;
          }

          td {
            border: 1px solid variables.$border_color;

            &[data-column="is_active"] {
              text-align: center;

              .wa-toggle .wa-toggle-slider {
                cursor: default;
              }
            }
          }

          .wa-dtu-actions-wrap {
            width: 160px;

            .wa-dtu-actions {
              display: flex;
              align-items: center;
              gap: 5px;

              .wa-button {
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }

  &.wa-data-table-ui-modal {
    .wa-modal-body {
      min-height: 200px;

      > :not(:last-child) {
        margin-bottom: 20px;
      }

      .wa-field-wrap .wa-field-head {
        max-width: 100%;
      }

      input, textarea {
        max-width: inherit;
      }

      textarea {
        max-height: 150px;
      }

      > .wa-field-wrap {
        .wa-field-head {
          label {
            min-width: 150px;
          }
        }
      }

      .wa-grid {
        gap: 20px !important;
      }

      .wa-grid-cols-2 {
        grid-template-columns: 150px auto !important;
      }

      :is(.wa-radio-inline, .wa-checkbox-inline) .wa-title {
        height: 3.1rem;
        padding: 7px 16px;
      }
    }

    .wa-modal-footer {
      justify-content: space-between;

      .wa-field-head {
        column-gap: 10px;
      }
    }
  }
}