@use "../utilities/variables";
@use "toggle";
@use "button";
@use "input";
@use "textarea";
@use "checkbox";
@use "radio";
@use "range";
@use "select";
@use "addons";
@use "wp";
@use "repeatable";
@use "color_palette";
@use "gradient_color_picker";
@use "data_table_ui";

.#{variables.$plugin_key}-wrap {
  position: relative;

  @include toggle.asfowoo-toggle;
  @include button.asfowoo-button;
  @include input.asfowoo-input;
  @include textarea.asfowoo-textarea;
  @include checkbox.asfowoo-checkbox;
  @include radio.asfowoo-radio;
  @include range.asfowoo-range;
  @include select.asfowoo-select;
  @include addons.asfowoo-addons;
  @include wp.asfowoo-wp;
  @include repeatable.asfowoo-repeatable;
  @include color_palette.asfowoo-color-palette;
  @include gradient_color_picker.asfowoo-gradient-color-picker;
  @include data_table_ui.asfowoo-data-table-ui;

  #asfowoo-settings-form {
    //height: 100% !important;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 40px;
    }

    hr {
      margin-top: 0;
    }

    .assistant-for-woocommerce-notices {
      margin-bottom: 0;
    }
  }

  .asfowoo-grid {
    display: grid !important;
    gap: 3rem !important;
  }

  .asfowoo-grid-cols-2 {
    grid-template-columns: 200px auto !important;
  }

  .asfowoo-field-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .asfowoo-field-head {
      display: flex;
      column-gap: 20px;
      row-gap: 10px;
      align-items: center;
      max-width: 500px;
    }
  }

  .asfowoo-fields-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .asfowoo-field-wrap {
      .asfowoo-field-head {
        flex-direction: column;
        align-items: start;
      }

      &.asfowoo-field-toggle {
        .asfowoo-field-head {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }

      &.asfowoo-appearance-text-field {
        input[type="number"] {
          -webkit-appearance: none;
          -moz-appearance: textfield;
          appearance: textfield;
        }
      }
    }

    :is( .asfowoo-inline-elements-group, .asfowoo-radio-group, .asfowoo-checkbox-group) {
      legend {
        margin-bottom: 1em;
      }

      :is(.asfowoo-inline-elements-group-options, .asfowoo-radio-group-options, .asfowoo-checkbox-group-options) {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem;
      }
    }
  }
}