@use "../utilities/variables";
@use "toggle";
@use "button";
@use "input";
@use "textarea";
@use "checkbox";
@use "radio";
@use "range";
@use "select";
@use "addons";
@use "wp";
@use "repeatable";
@use "color_palette";
@use "gradient_color_picker";
@use "data_table_ui";

.#{variables.$plugin_key}-wrap {
  position: relative;

  @include toggle.jetexir-toggle;
  @include button.jetexir-button;
  @include input.jetexir-input;
  @include textarea.jetexir-textarea;
  @include checkbox.jetexir-checkbox;
  @include radio.jetexir-radio;
  @include range.jetexir-range;
  @include select.jetexir-select;
  @include addons.jetexir-addons;
  @include wp.jetexir-wp;
  @include repeatable.jetexir-repeatable;
  @include color_palette.jetexir-color-palette;
  @include gradient_color_picker.jetexir-gradient-color-picker;
  @include data_table_ui.jetexir-data-table-ui;

  #jetexir-settings-form {
    //height: 100% !important;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 40px;
    }

    hr {
      margin-top: 0;
    }

    .jetexir-notices {
      margin-bottom: 0;
    }
  }

  .jetexir-grid {
    display: grid !important;
    gap: 3rem !important;
  }

  .jetexir-grid-cols-2 {
    grid-template-columns: 200px auto !important;
  }

  .jetexir-field-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .jetexir-field-head {
      display: flex;
      column-gap: 20px;
      row-gap: 10px;
      align-items: center;
      max-width: 500px;
    }
  }

  .jetexir-fields-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .jetexir-field-wrap {
      .jetexir-field-head {
        flex-direction: column;
        align-items: start;
      }

      &.jetexir-field-toggle {
        .jetexir-field-head {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }

      &.jetexir-appearance-text-field {
        input[type="number"] {
          -webkit-appearance: none;
          -moz-appearance: textfield;
          appearance: textfield;
        }
      }
    }

    :is( .jetexir-inline-elements-group, .jetexir-radio-group, .jetexir-checkbox-group) {
      legend {
        margin-bottom: 1em;
      }

      :is(.jetexir-inline-elements-group-options, .jetexir-radio-group-options, .jetexir-checkbox-group-options) {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem;
      }
    }
  }
}
