@use "../utilities/variables";
@use "toggle";
@use "button";
@use "input";
@use "textarea";
@use "checkbox";
@use "radio";
@use "range";
@use "select";
@use "addons";
@use "wp";
@use "repeatable";

.#{variables.$plugin_key}-wrap {
  position: relative;

  @include toggle.wa-toggle;
  @include button.wa-button;
  @include input.wa-input;
  @include textarea.wa-textarea;
  @include checkbox.wa-checkbox;
  @include radio.wa-radio;
  @include range.wa-range;
  @include select.wa-select;
  @include addons.wa-addons;
  @include wp.wa-wp;
  @include repeatable.wa-repeatable;

  #wa-settings-form {
    //height: 100% !important;
    display: flex;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 40px;
    }

    hr {
      margin-top: 0;
    }
  }

  .wa-grid {
    display: grid !important;
    gap: 3rem !important;
  }

  .wa-grid-cols-2 {
    grid-template-columns: 200px auto !important;
  }

  .wa-field-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .wa-field-head {
      display: flex;
      column-gap: 20px;
      row-gap: 10px;
      align-items: center;
      max-width: 500px;
    }
  }

  .wa-fields-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .wa-field-wrap {
      .wa-field-head {
        flex-direction: column;
        align-items: start;
      }

      &.wa-field-toggle {
        .wa-field-head {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }

      &.wa-appearance-text-field {
        input[type="number"] {
          -webkit-appearance: none;
          -moz-appearance: textfield;
          appearance: textfield;
        }
      }
    }

    :is( .wa-inline-elements-group, .wa-radio-group, .wa-checkbox-group) {
      legend {
        margin-bottom: 1em;
      }

      :is(.wa-inline-elements-group-options, .wa-radio-group-options, .wa-checkbox-group-options) {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem;
      }
    }
  }
}