@use 'sass:color';
@use "../utilities/variables";

.asfowoo-modal {
  --asfowoo-modal-color: var(--asfowoo-text-color, #2B2B2B); //  variables.$text
  --asfowoo-modal-border-width: var(--asfowoo-element-border-width, 0);
  --asfowoo-modal-border-color: #D3D3D3; // variables.$gray_light_two
  --asfowoo-modal-bg-color: var(--asfowoo-bg-color, #fff); // variables.$white
  --asfowoo-modal-border-radius: var(--asfowoo-element-border-radius, 0);
  --asfowoo-modal-font-size: 15px;

  display: none;
  position: fixed;
  z-index: 999999;
  padding: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: var(--asfowoo-modal-font-size, 15px);
  border: none;
  inset: 0;

  .asfowoo-modal-dialog {
    position: relative;
    width: auto;
    max-width: 500px;
    margin: calc(var(--asfowoo-admin-bar-height, 0) + 2em) auto 2em;
    pointer-events: none;
  }

  &.asfowoo-modal-large {
    .asfowoo-modal-dialog {
      max-width: 700px;
    }
  }

  &.asfowoo-modal-xlarge {
    .asfowoo-modal-dialog {
      max-width: 900px;
    }
  }

  .asfowoo-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--asfowoo-modal-color);
    pointer-events: auto;
    background-color: var(--asfowoo-modal-bg-color);
    background-clip: padding-box;
    border: var(--asfowoo-modal-border-width) solid var(--asfowoo-modal-border-color);
    border-radius: var(--asfowoo-modal-border-radius);
    overflow: hidden;
    outline: 0;
  }

  .asfowoo-modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: var(--asfowoo-modal-border-width) solid var(--asfowoo-modal-border-color);
  }

  .asfowoo-modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: 600;
  }

  .asfowoo-modal-message:not(:empty) {
    padding: 15px;

    .asfowoo-notices {
      margin-bottom: 0;
    }
  }

  .asfowoo-modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 15px;
    min-height: 200px;
    max-height: calc(100vh - 250px);
    overflow: auto;
  }

  .asfowoo-modal-footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
    border-top: var(--asfowoo-modal-border-width) solid var(--asfowoo-modal-border-color);

    a, button {
      text-align: center;
    }

    .asfowoo-modal-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &.asfowoo-fade {
    .asfowoo-modal-dialog {
      transition: transform .3s ease-out;
      transform: translate(0, -50px);
    }
  }

  &.asfowoo-active {
    .asfowoo-modal-dialog {
      transform: none;
    }
  }
}

.asfowoo-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 999998;
  opacity: 0;
  visibility: hidden;

  &.asfowoo-active {
    opacity: 1;
    visibility: visible;
  }
}