@use "../utilities/variables";

.wa-radio-inline {
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .wa-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: 0;
    cursor: pointer;
    border: 2px solid variables.$border_color;
    background-color: white;
    border-radius: 10px;
    height: 3.5rem;
    width: 3.5rem;
  }

  .wa-checkmark {
    position: absolute;
    right: 4px;
    top: 4px;
    display: none;
    height: 16px;
    width: 16px;
    background-color: variables.$primary;
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: block;
      left: 6px;
      top: 3px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 1.5px 1.5px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input:not(:checked) ~ .wa-title {
    border-color: darken(variables.$border_color, 5%);
  }

  input:checked ~ .wa-checkmark {
    display: block;
  }

  input:checked ~ .wa-title {
    border-color: variables.$primary;
  }

  input[disabled] ~ .wa-title, input[disabled] + .wa-checkmark {
    opacity: 0.7;
  }
}

.wa-radio-wrap {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  gap: 7px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .wa-checkmark {
    display: block;
    height: 16px;
    width: 16px;
    background-color: variables.$background_input;
    box-shadow: 0 0 0 1px darken(variables.$background_input, 3%);
    border-radius: 50%;

    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 3px;
      left: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
    }
  }

  &:hover input:not(:checked) ~ .wa-checkmark {
    background-color: darken(variables.$background_input, 2%);
  }

  input:checked ~ .wa-checkmark {
    background-color: variables.$primary;
  }

  input:checked ~ .wa-checkmark:after {
    display: block;
  }

  input:focus + .wa-checkmark {
    box-shadow: 0 0 0 2px variables.$primary;
  }

  input[disabled] + .wa-checkmark {
    opacity: 0.7;
  }

  /*input[disabled] + .wa-checkmark {
    background-color: variables.$gray_light_two;
  }

  input[disabled]:checked + .wa-checkmark {
    background-color: variables.$gray_light;
  }*/
}