@font-face {
  font-family: "assistant-for-woocommerce-icon";
  src: url("../fonts/assistant-for-woocommerce-icon.ttf?20wdh9") format("truetype"), url("../fonts/assistant-for-woocommerce-icon.woff?20wdh9") format("woff"), url("../fonts/assistant-for-woocommerce-icon.svg?20wdh9#assistant-for-woocommerce-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=asfowoo-icon-], [class*=" asfowoo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "assistant-for-woocommerce-icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.asfowoo-icon-menu:before {
  content: "\e90c";
}

.asfowoo-icon-magic-wand:before {
  content: "\e94a";
}

.asfowoo-icon-magic-wand3:before {
  content: "\e943";
}

.asfowoo-icon-magic-wand1:before {
  content: "\e944";
}

.asfowoo-icon-magic-lamp:before {
  content: "\e945";
}

.asfowoo-icon-magic-lamp1:before {
  content: "\e946";
}

.asfowoo-icon-magic-wand2:before {
  content: "\e947";
}

.asfowoo-icon-wish:before {
  content: "\e948";
}

.asfowoo-icon-crossed-fingers:before {
  content: "\e949";
}

.asfowoo-icon-bluesky:before {
  content: "\e90f";
}

.asfowoo-icon-viber:before {
  content: "\e903";
}

.asfowoo-icon-whatsapp:before {
  content: "\e905";
}

.asfowoo-icon-telegram:before {
  content: "\e904";
}

.asfowoo-icon-mastodon:before {
  content: "\e90e";
}

.asfowoo-icon-yahoo:before {
  content: "\e90b";
}

.asfowoo-icon-x-twitter:before {
  content: "\e900";
}

.asfowoo-icon-shopping-basket3:before {
  content: "\e938";
}

.asfowoo-icon-heart3:before {
  content: "\e92f";
}

.asfowoo-icon-heart1:before {
  content: "\e92d";
}

.asfowoo-icon-move-vertical:before {
  content: "\e94c";
}

.asfowoo-icon-heart-stroke:before {
  content: "\e930";
}

.asfowoo-icon-shopping-basket2:before {
  content: "\e920";
}

.asfowoo-icon-shopping-cart5:before {
  content: "\e921";
}

.asfowoo-icon-shopping-cart6:before {
  content: "\e93a";
}

.asfowoo-icon-checkmark:before {
  content: "\ea10";
}

.asfowoo-icon-checkmark2:before {
  content: "\ea11";
}

.asfowoo-icon-arrow-down:before {
  content: "\ea3e";
}

.asfowoo-icon-circle-down:before {
  content: "\ea43";
}

.asfowoo-icon-weibo:before {
  content: "\ea9a";
}

.asfowoo-icon-tick-outline:before {
  content: "\e937";
}

.asfowoo-icon-shopping-cart:before {
  content: "\e91c";
}

.asfowoo-icon-star_rate:before {
  content: "\e939";
}

.asfowoo-icon-bookmark_outline:before {
  content: "\e93c";
}

.asfowoo-icon-star_outline:before {
  content: "\e93d";
}

.asfowoo-icon-star_half:before {
  content: "\e93e";
}

.asfowoo-icon-library_add:before {
  content: "\e93f";
}

.asfowoo-icon-bookmarks:before {
  content: "\e940";
}

.asfowoo-icon-bookmark:before {
  content: "\e941";
}

.asfowoo-icon-heart:before {
  content: "\e942";
}

.asfowoo-icon-library_add_check:before {
  content: "\e933";
}

.asfowoo-icon-check_circle_outline:before {
  content: "\e934";
}

.asfowoo-icon-check_circle:before {
  content: "\e935";
}

.asfowoo-icon-check_box:before {
  content: "\e936";
}

.asfowoo-icon-file_copy:before {
  content: "\e912";
}

.asfowoo-icon-content_copy:before {
  content: "\e913";
}

.asfowoo-icon-edit:before {
  content: "\e94b";
}

.asfowoo-icon-trash:before {
  content: "\e93b";
}

.asfowoo-icon-check:before {
  content: "\e931";
}

.asfowoo-icon-heart2:before {
  content: "\e92e";
}

.asfowoo-icon-shopping-bag:before {
  content: "\e91d";
}

.asfowoo-icon-shopping-cart3:before {
  content: "\e91e";
}

.asfowoo-icon-plus:before {
  content: "\e91b";
}

.asfowoo-icon-chevrons-up:before {
  content: "\e911";
}

.asfowoo-icon-chevrons-right:before {
  content: "\e914";
}

.asfowoo-icon-chevrons-left:before {
  content: "\e915";
}

.asfowoo-icon-chevrons-down:before {
  content: "\e916";
}

.asfowoo-icon-chevron-right:before {
  content: "\e917";
}

.asfowoo-icon-chevron-left:before {
  content: "\e918";
}

.asfowoo-icon-chevron-down:before {
  content: "\e919";
}

.asfowoo-icon-chevron-up:before {
  content: "\e91a";
}

.asfowoo-icon-plus-circle:before {
  content: "\e92c";
}

.asfowoo-icon-cross:before {
  content: "\e92a";
}

.asfowoo-icon-shopping-cart7:before {
  content: "\e91f";
}

.asfowoo-icon-close:before {
  content: "\e927";
}

.asfowoo-icon-shopping-cart1:before {
  content: "\e922";
}

.asfowoo-icon-location-shopping:before {
  content: "\e923";
}

.asfowoo-icon-circle-with-cross:before {
  content: "\e92b";
}

.asfowoo-icon-shopping-basket:before {
  content: "\e924";
}

.asfowoo-icon-shopping-bag1:before {
  content: "\e925";
}

.asfowoo-icon-shopping-cart4:before {
  content: "\e926";
}

.asfowoo-icon-evernote:before {
  content: "\e90d";
}

.asfowoo-icon-xing:before {
  content: "\e90a";
}

.asfowoo-icon-vk:before {
  content: "\e902";
}

.asfowoo-icon-tumblr:before {
  content: "\e907";
}

.asfowoo-icon-check1:before {
  content: "\e932";
}

.asfowoo-icon-shopping-basket1:before {
  content: "\e929";
}

.asfowoo-icon-shopping-cart2:before {
  content: "\e928";
}

.asfowoo-icon-email:before {
  content: "\e910";
}

.asfowoo-icon-reddit:before {
  content: "\e909";
}

.asfowoo-icon-linkedin:before {
  content: "\e901";
}

.asfowoo-icon-facebook:before {
  content: "\e908";
}

.asfowoo-icon-pinterest:before {
  content: "\e906";
}

.assistant-for-woocommerce-wrap .asfowoo-content > .asfowoo-notices {
  padding: 20px 30px 0 30px;
}
.assistant-for-woocommerce-wrap .asfowoo-content > .asfowoo-notices + .asfowoo-notices {
  padding-top: 0;
}

.asfowoo-notices {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.asfowoo-notices .asfowoo-notice {
  color: #720eec;
  background-color: #EEEBF8;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.02em;
}
.asfowoo-notices .asfowoo-notice > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.asfowoo-notices .asfowoo-notice svg {
  width: 22px;
  height: 22px;
  min-width: 22px;
}
.asfowoo-notices .asfowoo-notice p {
  margin: 0;
}
.asfowoo-notices .asfowoo-notice code {
  color: rgb(108.3, 13.3, 224.2);
  background-color: rgb(222.7944444444, 217.1111111111, 241.7388888889);
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-info {
  color: #356aa3;
  background-color: #DCEBFB;
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-info code {
  color: rgb(50.35, 100.7, 154.85);
  background-color: rgb(198.8653846154, 222.9230769231, 248.5846153846);
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-success {
  color: #207b34;
  background-color: #E2F3E6;
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-success code {
  color: rgb(30.4, 116.85, 49.4);
  background-color: rgb(209.4134146341, 236.1365853659, 215.7012195122);
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-warning {
  color: #8c6d29;
  background-color: #FFF8E3;
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-warning code {
  color: rgb(133, 103.55, 38.95);
  background-color: rgb(255, 241.975, 202.9);
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-error {
  color: #b04b55;
  background-color: #FFEEEC;
}
.asfowoo-notices .asfowoo-notice.asfowoo-notice-error code {
  color: rgb(167.2, 71.25, 80.75);
  background-color: rgb(255, 216.0342105263, 211.45);
}

body.rtl.assistant-for-woocommerce-notices .asfowoo-notice {
  letter-spacing: normal;
}

.asfowoo-faqs-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
}
.asfowoo-faqs-wrap .asfowoo-faq-item {
  border: 1.5px solid var(--asfowoo-element-border-color, #E6E2F5);
  display: flex;
  flex-direction: column;
  border-radius: var(--asfowoo-element-border-radius, 0);
  overflow: hidden;
  transition: all 0.3s ease;
}
.asfowoo-faqs-wrap .asfowoo-faq-item .asfowoo-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: var(--asfowoo-element-color, #2B2B2B);
  background-color: var(--asfowoo-element-bg-color, rgb(247.35, 247.35, 247.35));
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
}
.asfowoo-faqs-wrap .asfowoo-faq-item .asfowoo-faq-question i {
  transition: all 0.2s;
  font-size: 24px;
}
.asfowoo-faqs-wrap .asfowoo-faq-item:not(.asfowoo-active):hover {
  border-color: var(--asfowoo-element-hover-border-color, #E6E2F5);
}
.asfowoo-faqs-wrap .asfowoo-faq-item:not(.asfowoo-active):hover .asfowoo-faq-question {
  color: var(--asfowoo-element-hover-color, #2B2B2B);
  background-color: var(--asfowoo-element-hover-bg-color, rgb(247.35, 247.35, 247.35));
}
.asfowoo-faqs-wrap .asfowoo-faq-item .asfowoo-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding: 0 15px;
  font-size: 0.9em;
}
.asfowoo-faqs-wrap .asfowoo-faq-item.asfowoo-active .asfowoo-faq-question i:is(.asfowoo-icon-chevrons-down, .asfowoo-icon-chevron-down, .asfowoo-icon-arrow-down, .asfowoo-icon-circle-down) {
  transform: rotate(180deg);
}
.asfowoo-faqs-wrap .asfowoo-faq-item.asfowoo-active .asfowoo-faq-question i.asfowoo-icon-plus {
  transform: rotate(45deg);
}
.asfowoo-faqs-wrap .asfowoo-faq-item.asfowoo-active .asfowoo-faq-answer {
  padding: 15px;
}

.asfowoo-fly-icons {
  position: fixed;
  z-index: 999997;
  font-size: 18px;
  display: flex;
  gap: 15px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-top {
  top: 40px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-top > :is(a, div):hover, .asfowoo-fly-icons.asfowoo-fly-icons-top > :is(a, div):focus {
  bottom: inherit;
  top: 5px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-bottom {
  bottom: 40px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-bottom > :is(a, div):hover, .asfowoo-fly-icons.asfowoo-fly-icons-bottom > :is(a, div):focus {
  top: inherit;
  bottom: 5px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-left {
  left: 40px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-left .asfowoo-fly-icon-count {
  right: -10px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-right {
  right: 40px;
}
.asfowoo-fly-icons.asfowoo-fly-icons-right .asfowoo-fly-icon-count {
  left: -10px;
}
.asfowoo-fly-icons > :is(a, div) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  line-height: 1;
  width: 60px;
  height: 60px;
  top: 0;
  bottom: 0;
  color: var(--asfowoo-element-color, #2B2B2B);
  background-color: var(--asfowoo-element-bg-color, rgb(247.35, 247.35, 247.35));
  border: 1.5px solid var(--asfowoo-element-border-color, #E6E2F5);
  border-radius: var(--asfowoo-element-border-radius, 0);
  transition: all 0.5s;
  box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
  text-decoration: none;
  outline: none;
}
.asfowoo-fly-icons > :is(a, div):hover, .asfowoo-fly-icons > :is(a, div):focus {
  text-decoration: none;
  outline: none;
  border-color: var(--asfowoo-element-hover-border-color, #E6E2F5);
  color: var(--asfowoo-element-hover-color, #2B2B2B);
  background-color: var(--asfowoo-element-hover-bg-color, rgb(247.35, 247.35, 247.35));
}
.asfowoo-fly-icons svg {
  height: 18px;
  width: auto;
}
.asfowoo-fly-icons .asfowoo-fly-icon-title {
  font-size: 12px;
}
.asfowoo-fly-icons .asfowoo-fly-icon-count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  height: 30px;
  width: 30px;
  font-size: 12px;
  border-radius: 50%;
  color: white;
  background: var(--asfowoo-primary-color, #873eff);
}

.asfowoo-modal {
  --asfowoo-modal-color: var(--asfowoo-text-color, #2B2B2B);
  --asfowoo-modal-border-width: var(--asfowoo-element-border-width, 0);
  --asfowoo-modal-border-color: #D3D3D3;
  --asfowoo-modal-bg-color: var(--asfowoo-bg-color, #fff);
  --asfowoo-modal-border-radius: var(--asfowoo-element-border-radius, 0);
  --asfowoo-modal-font-size: 15px;
  display: none;
  position: fixed;
  z-index: 999999;
  padding: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  top: 0;
  left: 0;
  pointer-events: none;
  font-size: var(--asfowoo-modal-font-size, 15px);
  border: none;
  inset: 0;
}
.asfowoo-modal .asfowoo-modal-dialog {
  position: relative;
  width: auto;
  max-width: 500px;
  margin: calc(var(--asfowoo-admin-bar-height, 0) + 2em) auto 2em;
  pointer-events: none;
}
.asfowoo-modal.asfowoo-modal-large .asfowoo-modal-dialog {
  max-width: 700px;
}
.asfowoo-modal.asfowoo-modal-xlarge .asfowoo-modal-dialog {
  max-width: 900px;
}
.asfowoo-modal .asfowoo-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--asfowoo-modal-color);
  pointer-events: auto;
  background-color: var(--asfowoo-modal-bg-color);
  background-clip: padding-box;
  border: var(--asfowoo-modal-border-width) solid var(--asfowoo-modal-border-color);
  border-radius: var(--asfowoo-modal-border-radius);
  overflow: hidden;
  outline: 0;
}
.asfowoo-modal .asfowoo-modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: var(--asfowoo-modal-border-width) solid var(--asfowoo-modal-border-color);
}
.asfowoo-modal .asfowoo-modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 600;
}
.asfowoo-modal .asfowoo-modal-message:not(:empty) {
  padding: 15px;
}
.asfowoo-modal .asfowoo-modal-message:not(:empty) .asfowoo-notices {
  margin-bottom: 0;
}
.asfowoo-modal .asfowoo-modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  min-height: 200px;
  max-height: calc(100vh - 250px);
  overflow: auto;
}
.asfowoo-modal .asfowoo-modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 15px;
  border-top: var(--asfowoo-modal-border-width) solid var(--asfowoo-modal-border-color);
}
.asfowoo-modal .asfowoo-modal-footer a, .asfowoo-modal .asfowoo-modal-footer button {
  text-align: center;
}
.asfowoo-modal .asfowoo-modal-footer .asfowoo-modal-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.asfowoo-modal.asfowoo-fade .asfowoo-modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.asfowoo-modal.asfowoo-active .asfowoo-modal-dialog {
  transform: none;
}

.asfowoo-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 999998;
  opacity: 0;
  visibility: hidden;
}
.asfowoo-modal-overlay.asfowoo-active {
  opacity: 1;
  visibility: visible;
}

.asfowoo-button {
  background-color: transparent;
  color: var(--asfowoo-text-color, #2B2B2B);
  border: none;
  padding: 10px 16px;
  border-radius: var(--asfowoo-button-border-radius, 0);
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: button;
  text-transform: none;
  text-decoration: none !important;
}
.asfowoo-button i {
  font-size: 1.1em;
}
.asfowoo-button:hover, .asfowoo-button:focus, .asfowoo-button:active {
  color: var(--asfowoo-text-color, #525252);
  background-color: transparent;
}
.asfowoo-button.asfowoo-button-primary {
  color: var(--asfowoo-button-color, var(--asfowoo-text-color, #2B2B2B));
  background-color: var(--asfowoo-button-bg-color, #E1CEFF);
  border-color: var(--asfowoo-button-border-color, #720eec);
}
.asfowoo-button.asfowoo-button-primary:hover, .asfowoo-button.asfowoo-button-primary:focus, .asfowoo-button.asfowoo-button-primary:active {
  color: var(--asfowoo-button-hover-color, var(--asfowoo-text-color, #2B2B2B));
  background-color: var(--asfowoo-button-hover-bg-color, rgb(210.887755102, 182.95, 255));
  border-color: var(--asfowoo-button-hover-border-color, #720eec);
}
.asfowoo-button.asfowoo-button-primary:focus, .asfowoo-button.asfowoo-button-primary:active {
  outline-offset: 2px;
  outline: var(--asfowoo-button-hover-border-color, #720eec) solid 2px;
}
.asfowoo-button.asfowoo-button-secondary {
  color: var(--asfowoo-secondary-button-color, var(--asfowoo-text-color, #2B2B2B));
  background-color: var(--asfowoo-secondary-button-bg-color, #f3f3f3);
  border-color: var(--asfowoo-secondary-button-border-color, #720eec);
}
.asfowoo-button.asfowoo-button-secondary:hover, .asfowoo-button.asfowoo-button-secondary:focus, .asfowoo-button.asfowoo-button-secondary:active {
  color: var(--asfowoo-secondary-button-hover-color, var(--asfowoo-text-color, #2B2B2B));
  background-color: var(--asfowoo-secondary-button-hover-bg-color, rgb(230.85, 230.85, 230.85));
  border-color: var(--asfowoo-secondary-button-hover-border-color, #D3D3D3);
}
.asfowoo-button.asfowoo-button-secondary:focus, .asfowoo-button.asfowoo-button-secondary:active {
  outline-offset: 2px;
  outline: var(--asfowoo-secondary-button-hover-border-color, #D3D3D3) solid 2px;
}

/*
 https://css-loaders.com
 HTML: <div class="asfowoo-loader"></div>
  */
.asfowoo-loader-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.asfowoo-loader {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(farthest-side, #424242 95%, rgba(0, 0, 0, 0)) 50% 0/8px 8px no-repeat, radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 2px), #424242 calc(100% - 2px)) content-box;
  animation: asfowoo-loader-animation 2s infinite;
}

@keyframes asfowoo-loader-animation {
  to {
    transform: rotate(1turn);
  }
}
body {
  --asfowoo-admin-bar-height: 0;
}
body.admin-bar {
  --asfowoo-admin-bar-height: 32px;
}
body *[class^=asfowoo-] {
  box-sizing: border-box;
}

.asfowoo-fade {
  transition: opacity 0.15s linear;
  opacity: 1;
}
.asfowoo-fade:not(.asfowoo-active) {
  opacity: 0;
}

.asfowoo-button-close {
  --asfowoo-btn-close-color: var(--asfowoo-text-color, #2B2B2B);
  --asfowoo-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --asfowoo-btn-close-opacity: 0.5;
  --asfowoo-btn-close-hover-opacity: 0.75;
  --asfowoo-btn-close-focus-opacity: 1;
  --asfowoo-btn-close-disabled-opacity: 0.25;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.5rem;
  color: var(--asfowoo-btn-close-color);
  background: transparent var(--asfowoo-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--asfowoo-btn-close-opacity);
}
.asfowoo-button-close:hover {
  opacity: var(--asfowoo-btn-close-hover-opacity);
}
.asfowoo-button-close:focus {
  opacity: var(--asfowoo-btn-close-focus-opacity);
}
.asfowoo-button-close[disabled] {
  opacity: var(--asfowoo-btn-close-disabled-opacity);
}

@media screen and (max-width: 782px) {
  body.admin-bar {
    --asfowoo-admin-bar-height: 46px;
  }
}
.asfowoo-appearance-text-field input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

.asfowoo-button.asfowoo-button-remove {
  color: #b04b55 !important;
}
.asfowoo-button.asfowoo-button-remove:hover {
  color: rgb(158.4, 67.5, 76.5) !important;
}

.asfowoo-remove-action {
  color: #b04b55 !important;
}
.asfowoo-remove-action:hover {
  color: rgb(158.4, 67.5, 76.5) !important;
}

.asfowoo-inline-flex {
  display: inline-flex !important;
  align-items: center;
  gap: 5px;
}

.asfowoo-flex {
  display: flex !important;
  align-items: center;
  gap: 5px;
}

.asfowoo-product-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  position: relative;
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border-radius: var(--asfowoo-element-border-radius, 0);
  transition: all 0.2s;
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap:hover {
  background-color: var(--asfowoo-element-hover-bg-color, #f3f3f3);
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap .asfowoo-product-item-image {
  width: 60px;
  flex: 0 0 60px;
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap .asfowoo-product-item-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  gap: 7px;
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap .asfowoo-product-item-info .asfowoo-product-item-meta {
  font-size: 0.8em;
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap .asfowoo-product-item-actions {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 7px;
  font-size: 0.8em;
}
.asfowoo-product-list-wrap .asfowoo-product-item-wrap .asfowoo-product-item-actions .asfowoo-product-item-remove {
  color: #b04b55;
  gap: 3px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
